    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">Vendor Edit</h6>
            </div>
            <div class="col-lg-6 col-5 text-right">
            </div>
          </div>
        </div>
      </div>
    </div>
<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-8 order-xl-1">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Vendor : <% @vendor.name%> </h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <%= form_with(model: @vendor, local: true, url: update_vendor_path(vendor_id: @vendor.id)) do |form| %>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Active</label>
                    <%= form.check_box :active %>
                  </div>
                </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <%= form.submit 'Save', class: 'btn btn-primary my-4' %>
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>